*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    background:#101820;
    color:white;
}

.app{
    max-width:700px;
    margin:auto;
    padding:15px;
}

.top{
    text-align:center;
    margin-bottom:15px;
}

.top h1{
    font-size:34px;
}

.top p{
    color:#cccccc;
}

.status-card{
    background:#1b2a38;
    border-radius:12px;
    padding:12px;
    text-align:center;
    margin-bottom:15px;
}

#gpsText{
    font-size:18px;
    font-weight:bold;
}

#startPointText{
    margin-top:8px;
    color:#7CFC00;
}

.timer-card{
    background:#1b2a38;
    border-radius:12px;
    padding:15px;
    text-align:center;
    margin-bottom:15px;
}

.timer-card span{
    display:block;
    font-size:16px;
}

#time{
    font-size:40px;
    font-weight:bold;
}

.stats{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    margin-bottom:15px;
}

.stat-card{
    background:#1b2a38;
    border-radius:12px;
    padding:12px;
    text-align:center;
}

.stat-card span{
    display:block;
    color:#bbbbbb;
}

.stat-card strong{
    display:block;
    margin-top:5px;
    font-size:24px;
}

.map-section{
    margin-bottom:15px;
}

#map{
    height:320px;
    border-radius:12px;
    overflow:hidden;
}

.buttons{
    display:grid;
    gap:10px;
}

button{
    border:none;
    border-radius:12px;
    padding:16px;
    font-size:18px;
    font-weight:bold;
    color:white;
}

#startBtn{
    background:#28a745;
}

#newTrackBtn{
    background:#1976d2;
    color:white;
}

#saveStartBtn{
    background:#ff9800;
}

#stopBtn{
    background:#d32f2f;
}